
@{
    ViewBag.Title = "AddHoliday";
}

<h2>AddHoliday</h2>
<link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
<script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/ElementUI/element-ui.js"></script>
<script src="~/axios-master/dist/axios.js"></script>
<script src="~/MD5/MD5.js"></script>
<script src="~/MD5/tool.js"></script>
<div id='app'>
    @*<span>度假村照片</span>
        <input type="hidden" id="hImg" value="" />
        <div class="layui-upload-drag" name="file" style="margin-left:25px;margin-bottom:30px" id="test10">
                    <i class="layui-icon" name="file"></i>
                    <p name="file">点击上传，或将文件拖拽到此处</p>
            </div>*@
    <el-form ref="form" :model="form" label-width="80px">
        <el-form-item label="度假主题">
            <el-input v-model="form.H_Theme"></el-input>
        </el-form-item>
        <el-form-item label="目的地">
            <el-input v-model="form.H_Destination"></el-input>
        </el-form-item>
        <el-form-item label="折后票价">
            <el-input v-model="form.H_FormerPrice"></el-input>
        </el-form-item>
        <el-form-item label="折前票价">
            <el-input v-model="form.H_RetailPrice"></el-input>
        </el-form-item>
        <el-form-item label="出发日期">
            <el-col :span="11">
                <el-date-picker type="date" format="yyyy 年 MM 月 dd 日" placeholder="选择日期" v-model="form.H_Data" style="width: 100%;"></el-date-picker>
            </el-col>
        </el-form-item>
        <el-form-item label="往返交通">
            <el-input v-model="form.H_Traffic"></el-input>
        </el-form-item>
        <el-form-item label="天数">
            <el-select v-model="form.H_TravelDays" placeholder="请选择活动区域">
                <el-option label="1天" value="1"></el-option>
                <el-option label="2天" value="2"></el-option>
                <el-option label="3天" value="3"></el-option>
                <el-option label="4天" value="4"></el-option>
                <el-option label="5天" value="5"></el-option>
                <el-option label="6天" value="6"></el-option>
                <el-option label="7天" value="7"></el-option>
                <el-option label="8天" value="8"></el-option>
                <el-option label="9天" value="9"></el-option>
                <el-option label="10天" value="10"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="参与者">
            <el-input v-model="form.H_Participant"></el-input>
        </el-form-item>
        <el-form-item label="行程说明">
            <el-input v-model="form.H_Explain"></el-input>
        </el-form-item>
        <el-form-item label="出行人数">
            <el-input v-model="form.H_Num"></el-input>
        </el-form-item>
        <el-form-item label="行程路线">
            <el-input v-model="form.H_Route"></el-input>
        </el-form-item>
        <el-form-item label="出行地点">
            <el-input v-model="form.H_ProFeature"></el-input>
        </el-form-item>
        <el-form-item label="行程类型">
            <el-radio-group v-model="form.H_Pickpoint">
                <el-radio label="A"></el-radio>
                <el-radio label="B"></el-radio>
                <el-radio label="C"></el-radio>
                <el-radio label="D"></el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="行程类型名称">
            <el-input v-model="form.H_RouteCircuit"></el-input>
        </el-form-item>
        <el-form-item label="度假图片">
            <el-upload class="upload-demo"
                       drag
                       action="/SceneryHoliday/AddPhoto"
                       :on-preview="handlePictureCardPreview"
                       name="file"
                       multiple>
                <i class="el-icon-upload"></i>
                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                <div class="el-upload__tip" slot="tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @@click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
    </el-form>
</div>
<script>
    function format(time, format) {
        var t = new Date(time);
        var tf = function (i) { return (i < 10 ? '0' : '') + i };
        return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
            switch (a) {
                case 'yyyy':
                    return tf(t.getFullYear());
                    break;
                case 'MM':
                    return tf(t.getMonth() + 1);
                    break;
                case 'mm':
                    return tf(t.getMinutes());
                    break;
                case 'dd':
                    return tf(t.getDate());
                    break;
                case 'HH':
                    return tf(t.getHours());
                    break;
                case 'ss':
                    return tf(t.getSeconds());
                    break;
            }
        })
    }
    window.onload = function () {
        var Ctor = new Vue({
            el: '#app',
            H_Data1: '',
            data: {
                form: {
                    H_Theme: '',
                    H_Destination: '',
                    H_RetailPrice: 0,
                    H_FormerPrice: 0,
                    H_Data: '',
                    H_Traffic: '',
                    H_TravelDays: '',
                    H_Participant: '',
                    H_Explain: '',
                    H_Photo: '',
                    H_Num: 0,
                    H_Route: '',
                    H_Pickpoint: '',
                    H_RouteCircuit: '',
                    H_RouteName:'',
                }
            },
            methods: {
                handlePictureCardPreview(file) {
                    console.log(file.response);
                    this.form.H_Photo = file.response;
                },
                onSubmit() {
                    this.form.H_RouteName = this.form.H_Explain
                    this.form.H_Data = format(this.form.H_Data, 'yyyy-MM-dd');
                    console.log(JSON.stringify(this.form));
                    var self = this;
                    axios.post("/SceneryHoliday/AddHoliday", this.form).then(function (res) {
                        self.form = {};
                        console.log(res.data);
                    }).catch(function (err) {
                        console.log(err.data)
                    })

                }
            },
            created: function () {
                //一般来说这里会发送ajax请求

                //axios发送ajax
                //axios.get('url').then(function(response){
                //成功时回调 response响应的数据 赋值给this.user
                //})catch(function(error){
                //失败时回调 error失败时的错误消息

                //})
            }
        });
    }

</script>