
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
</head>
<body>
    <div>
        <form action="/" method="post">
            <div class="layui-upload">
                <button class="layui-btn" id="test1" type="button">上传图片</button>
                <div class="layui-upload-list">
                    <img class="layui-upload-img" style="width:100px;height:100px;display:none;" id="demo1">
                    <p id="demoText"></p>
                </div>
            </div>
        </form>
        <script>
            layui.use('upload', function () {
                var upload = layui.upload;

                //执行实例
                var uploadInst = upload.render({
                    elem: '#test1' //绑定元素
                    , url: '/SceneryHoliday/Upload' //上传接口
                    , before: function (obj) {
                        //预读本地文件示例，不支持ie8
                        obj.preview(function (index, file, result) {
                            $('#demo1').attr('src', result); //图片链接（base64）
                        });
                    }
                    , done: function (res) {
                        //上传完毕回调
                        if (res.code == 0) {
                            alert("成功")
                        }
                    }
                    , error: function () {
                        //请求异常回调
                        alert("失败")
                    }
                });
            });
        </script>
        <div class="layui-upload-drag" name="file" id="test10">
            <i class="layui-icon" name="file"></i>
            <p name="file">点击上传，或将文件拖拽到此处</p>
        </div>
    </div>
</body>
</html>
<script>
    //拖拽上传
    layui.use('upload', function () {
        var $ = layui.jquery
            , upload = layui.upload;
        upload.render({
            elem: '#test10' //绑定元素
            , url: '/SceneryHoliday/Upload' //上传接口
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#demo1').css('display', 'block'); //图片链接（base64）
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    alert("成功")
                }
            }
            , error: function () {
                //请求异常回调
                alert("失败")
            }
        });
    })
</script>
