
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="layui-form" action="/UserInfo/AddUser" enctype="multipart/form-data" method="post">
    <table style="margin:20px auto" class="layui-table" lay-skin="line" >
        <tr>
            <td style="width:150px;">用户名:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="UserName" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>

        <tr>
            <td style="width:150px;">手机号:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="UserPhone" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">密码:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="password" name="UserPwd" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">性别:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="radio" name="sex" value="男" title="男" checked="">
                    <input type="radio" name="sex" value="女" title="女">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">出生日期:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="UserBirth" id="date1" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">地址</td>
            <td>
                <div class="layui-input-inline">
                    <select name="User_Loc_Prov" id="Select1" lay-verify="required" >
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="User_Loc_City" id="Select2" lay-filter="Select2">
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="User_Loc_Coun" id="Select3" lay-filter="Select3">
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">证件类型</td>
            <td>
                <div class="layui-input-inline">
                    <select name="User_DocumentType" lay-filter="aihao">
                        <option value=""></option>
                        <option value="居民身份证">居民身份证</option>
                        <option value="护照">护照</option>
                        <option value="学生证">学生证</option>
                        <option value="港澳通行证">港澳通行证</option>
                        <option value="士官证">士官证</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:150px;">证件号</td>
            <td>
                <div class="layui-input-block">
                    <input type="text" name="User_IDNumber" lay-verify="title" placeholder="请输入证件号" class="layui-input" style="margin-left:-110px;" >
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                    <button class="layui-btn" type="submit" lay-submit="" lay-filter="demo1" style="margin-left:146px;" >立即提交</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $().ready(function ()
    {
        //layui样式
        layui.use(['form', 'laydate'], function () {
            var form = layui.form,
            laydate = layui.laydate;
            //出生日期
            laydate.render({
                elem: '#date1'
            });
        });
        //绑定三级联动
        BindSelect1();
        $("#Select1").change(function ()
        {
            BindSelect2();
        })//选择省后改变市级下拉框
        $("#Select2").change(function ()
        {
            BindSelect3();
        })//选择市后改变县级下拉框
    })
    //绑定第一个下拉框的方法
    function BindSelect1()
    {
        $.ajax({
            url: "/UserInfo/BindSelect",
            type: "get",
            dataType: "json",
            success: function (data)
            {
                $("#Select1").empty();
                $("#Select1").append("<option value=''>请选择</option>")
                for (var i = 0; i < data.length; i++)
                {
                    $("#Select1").append("<option value='" + data[i].R_Id + "'>" + data[i].R_Name + "</option>");
                }
            }
        })
    }
    //绑定第二个下拉框的方法
    function BindSelect2()
    {
        debugger;
        var Id = $("#Select1").val();
        if (Id == "")
        {
            return;
        }
        else
        {
            $.ajax({
                url: "/UserInfo/BindSelect?Id=" + Id,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#Select2").empty();
                    $("#Select2").append("<option value=''>请选择</option>")
                    for (var i = 0; i < data.length; i++) {
                        $("#Select2").append("<option value='" + data[i].R_Id + "'>" + data[i].R_Name + "</option>");
                    }
                }
            })
        }
    }
    //绑定第三个下拉框的方法
    function BindSelect3()
    {
        var Id = $("#Select2").val();
        if (Id == "") {
            return;
        }
        else {
            $.ajax({
                url: "/UserInfo/BindSelect?Id=" + Id,
                type: "get",
                dataType: "json",
                success: function (data) {
                    $("#Select3").empty();
                    $("#Select3").append("<option value=''>请选择</option>")
                    for (var i = 0; i < data.length; i++) {
                        $("#Select3").append("<option value='" + data[i].R_Id + "'>" + data[i].R_Name + "</option>");
                    }
                }
            })
        }
    }
</script>