
@{
    ViewBag.Title = "AddNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>添加新闻</h2>
<form class="layui-form" action="/News/AddNews" enctype="multipart/form-data" method="post">
    <table style="margin:50px auto" class="layui-table" lay-skin="line">

        <tr>
            <td style="width:200px;">图片：</td>
            <td>
                <div class="layui-input-block">
                    <input id="File1" type="file" name="img" />
                </div>
            </td>
        </tr>

        <tr>
            <td style="width:200px;">新闻类型：</td>
            <td>
                <div class="layui-input-inline">
                    @Html.DropDownList("N_TypeId", ViewBag.slist as SelectList, "请选择")

                </div>
            </td>
        </tr>
        <tr>
            <td style="width:200px;">新闻标题：</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="N_MainTitle" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:200px;">作者：</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="N_Author" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:200px;">分数:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="N_Category" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>


        <tr>
            <td style="width:200px;">内容</td>
            <td>
                <div class="layui-input-block">
                    <input type="text" name="N_Content" lay-verify="title" placeholder="请输入内容" class="layui-input" style="margin-left:-110px;">
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:200px;">日期:</td>
            <td>
                <div class="layui-input-inline">
                    <input type="text" name="N_Datetime" id="date1" autocomplete="off" class="layui-input">
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <button class="layui-btn" type="submit" lay-submit="" lay-filter="demo1" style="margin-left:146px;">保存</button>
            </td>
        </tr>
    </table>
</form>
<script>
    $().ready(function ()
    {
        //layui样式
        layui.use(['form', 'laydate'], function () {
            var form = layui.form,
                laydate = layui.laydate;
            //日期
            laydate.render({
                elem: '#date1'
            });
        });
    })
    
</script>

